@font-face {
    font-family: BootsAndSpurs;
    src: url("../fonts/BootsAndSpurs\ \(3\).ttf") format("truetype");
}

header, 
footer {
    background-color: #202020;
    color: #fff;
   }

   #navigation .highlight-nav{
    text-decoration: underline;
    padding-left: 0px;
    color: #fff;
}

header a{
    text-decoration: none;
    padding-top: 20px;
}

nav li{
    display: inline-block;
}

nav ul {
    padding: 0;
  }

  /* Links */

a{
    text-decoration: none;
}

header a {
    color: white;
    padding: 10px;
}


footer{
    text-align: center;
}

body{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo{
    font-family: BootsAndSpurs, Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    align-items: center;
}

nav{
    margin-left: 25px;
}

.cta {
    background-color: #b00;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 80px;
    text-decoration: none;
}

.cta-small{
    font-size: 0.8em;
    padding: 8px 30px;
}


.reviews {
    background-color: #e8e8e8;
}

.products {
    background-color: #fbfbfb;
}

.cta-sale {
    background-color: #127300;
    color: white;
    border-radius: 3px;
    
}

/*home page*/
.welcome {
    background-image: url("../pictures/home-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right ;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
}

.welcome_content{
    position: absolute;
    text-align: center;
    top: 100px;
    left: 100px;

}

.selling-points{
    margin: 50px auto;
}

.selling-points,
.reviews-content{
    max-width: 1000px;
    display: flex;
}

.selling-points > *, .reviews-content > *{
    flex: 1;
}

.selling-points-images {
    border-radius: 100px;
    width: 100%;
}

.reviews{
    text-align: center;
    padding: 50px;
}

.reviews-content{
    text-align: left;
    margin: auto;
}

.reviews-content div{
    margin: 50px;
}

.reviews-images{
    width: 80px;
    border-radius: 50%;
    float: right;
}

.reviews-names{
    display: block;
}

/*products*/

.product-specific{
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}

.product-specific > *{
    flex: 1;
}

.product-specific__details{
    padding: 0px 30px;
}

.product-specific__details a{
    display: block;
    width: 95.767px;
    margin:auto;
}

.product-specific__price{
    font-size: 1.5em;
}

.product-image{
    width: 100%;
}

.product-image_thumbnails{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
  }

  /* contact page */
  input, select, textarea{
    border: 1px solid #c4c4c4;
    border-radius:10px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
   
  }

  textarea{
    height: 65%;
  }

  .contact{
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
  }

  .form-wrapper{
    display:flex;
    text-align: left;
  }

  .form-wrapper > *{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
