@font-face {
    font-family: BootsAndSpurs;
    src: url(BootsAndSpurs.ttf) format("truetype");
}

header, 
footer {
    background-color: #202020;
    color: #fff;
   }

footer{
    text-align: center;
}

body{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo{
    font-family: BootsAndSpurs, Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header a {
    color: white
}

.cta {
    background-color: #b00;
    color: white;
    font-size: 1.5em;
    border-radius: 15px;
}

.reviews {
    background-color: #e8e8e8;
}

.featured--products {
    background-color: #fbfbfb;
}

.cta-sale {
    background-color: #127300;
    color: white;
    border-radius: 15px;
    
}


